@import "element.scss";

.search-content {
	padding:20px 0px 10px 0px;
	.search-bar {
		position: relative;
		zoom: 1;
		@extend %search-bar;
	}
}

.hot-keys {
	margin:0px;
	@extend %hot-keys;
}

.wexin-code {
	text-align:center;
	padding:7px 0px;
	p {
		line-height: 20px;
		font-size: 14px;
		text-align: center;
		padding:0px;
		margin: 0px;
	}
}
.logo-box {
	width:185px;
	float: left;
}
.logo {
	display:block;
	border:1px solid $border-color;
	color:#fff;
	height:160px;
}
.header-content {
	margin-left:215px;
	// margin-right:20px;
	overflow: hidden;
}
.header-search {
	padding:0px;
	background-color:#fff;
}

.search-content .title {
	line-height:24px;
	font-size:16px;
	font-family:'Microsoft YaHei';
	padding-bottom:10px;
}

.product-list {
	@extend %product-list;
}

.tab-slide {
	width:100%;
	height:340px;
	overflow:hidden;
	z-index:1;
	.item {
		height: 340px;
		overflow: hidden;
	}
	.carousel-indicators {
		right: 0px;
		width: 100px;
		left: auto;
		bottom:10px;
		margin: 0px;
	}
	.carousel-caption {
		position: absolute;
		z-index: 1;
		left:0px;
		bottom:0px;
		width:100%;
		background-color:#333;
		background-color:rgba(0,0,0,0.8);
		margin:0px;
		padding:0px;
		p {
			padding:10px;
			margin: 0px;
			line-height: 24px;
			font-size: 14px;
			color: #fff;
		}
	}
}
