// color

$link:#2a6496;

// border
$border-color:#ddd;
$dark-word-color:darken($border-color,30%) !default;

// word
$word-color:#666;
$dark-word-color:darken($word-color,30%) !default;
$word-shadow:#eee;