// color

$link:#2a6496;

// border
$border-color:#ddd;
$light-border-color:lighten($border-color,10%) !default;
$dark-border-color:darken($border-color,30%) !default;

// word
$word-color:#666;
$dark-word-color:darken($word-color,30%) !default;
$word-shadow:#eee;

// background
$main-backgroun-color:#f8f8f8;