/**
 * 后台首页的样式
 */
body {
	background-color: #fff;
}
.class-wrap {
	padding: 20px;
}
.class-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.class-list li a {
	color: #333;
	display: block;
	padding: 10px 20px;
	line-height: 30px;
	font-size: 18px;
	clear: both;
	overflow: hidden;
	margin-bottom: 5px;
	border: 1px solid #333;
	box-shadow: 0px 0px 5px #ccc;
}
.class-list li .badge {float: right;}
/*.class-list .add-btn a {background-color: #9dd;}*/
.class-add {
	display: none;
}
.class-list .down #add-btn {
	display: none;
}
.down .class-add {
	display: block;
}