/**
 * 后台列表页css
 *
 * 2014 02 23
 * by jn
 */
body {margin-top: 70px;}
.form-wrap {margin-top: }
.class-list .class-name {
	display: block;
	padding: 0px 10px;
	line-height: 34px;
	background: #79c3d2;
	color: #fff;
	font-size: 20px;
	margin-top: 2px;
}
.type-list .type-name {
	display: block;
	margin-left: 10px;
	padding: 0px 10px;
	line-height: 24px;
	font-size: 14px;
	margin-top: 2px;
	background: #d9eef2;
}
.type-list .active .type-name {background: #143352;color: #fff;}
.form-block {border: 1px solid #ccc;border-radius: 4px;padding: 10px;margin-bottom: 20px;}
.form-block h4 {margin-bottom: 20px;}
.form-block label {text-align: right;padding: 0px;line-height: 34px;}
.slide ul {
	display: none;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

/*表单页*/
.form-wrap .btn-box {margin: 20px 0px;}
.form-wrap .btn-box .btn {margin-right:40px;}
/*列表页*/
.product-list {margin-top: 30px;}
.product-list .table th,.product-list .table td {vertical-align: middle;}